@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-gra: #ffffff;
    --clr-white: #f7f7f7;

    --type-normal: #A8A77A8;
    --type-fire: #EE8130;
    --type-water: #6390F0;
    --type-grass: #7AC74C;
    --type-electric: #F7D02C;
    --type-ice: #96D9D6;
    --type-fighting: #C22E28;
    --type-poison: #A33EA1;
    --type-ground: #E2BF65;
    --type-flying: #A98FF3;
    --type-psychic: #F95587;
    --type-bug: #A6B91A;
    --type-rock: #B6A136;
    --type-ghost: #735797;
    --type-dark: #705746;
    --type-dragon: #6F35FC;
    --type-steel: #B7B7CE;
    --type-fairy: #D685AD;
}

/* Estilos para los tipos de Pokémon usando variables */
.type-normal { background-color: var(--type-normal); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-fire { background-color: var(--type-fire); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-water { background-color: var(--type-water); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-grass { background-color: var(--type-grass); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-electric { background-color: var(--type-electric); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-ice { background-color: var(--type-ice); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-fighting { background-color: var(--type-fighting); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-poison { background-color: var(--type-poison); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-ground { background-color: var(--type-ground); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-flying { background-color: var(--type-flying); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-psychic { background-color: var(--type-psychic); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-bug { background-color: var(--type-bug); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-rock { background-color: var(--type-rock); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-ghost { background-color: var(--type-ghost); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-dark { background-color: var(--type-dark); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-dragon { background-color: var(--type-dragon); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-steel { background-color: var(--type-steel); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }
.type-fairy { background-color: var(--type-fairy); color: #fff; padding: 0.2rem 0.5rem; border-radius: 0.3rem; }

/* Estilos generales del modo oscuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

body.dark-mode .pokemon {
    background-color: #333; /* Cambia este color por el que desees para el modo oscuro */
    box-shadow: 0 0 3rem -1rem rgba(255, 255, 255, .25); /* Ajusta la sombra si es necesario */
}

body.dark-mode .pokemon-nombre{
    color: #fff;
}

/* Estilos para los tipos de Pokémon en modo oscuro */
.type-normal { background-color: #6d6d4f; color: #fff; }
.type-fire { background-color: #d6713b; color: #fff; }
.type-water { background-color: #4d77d0; color: #fff; }
.type-grass { background-color: #5a9a4d; color: #fff; }
.type-electric { background-color: #d0c43e; color: #fff; }
.type-ice { background-color: #7fb7b7; color: #fff; }
.type-fighting { background-color: #a9231e; color: #fff; }
.type-poison { background-color: #872d73; color: #fff; }
.type-ground { background-color: #c0a04e; color: #fff; }
.type-flying { background-color: #8a7ee1; color: #fff; }
.type-psychic { background-color: #e03e70; color: #fff; }
.type-bug { background-color: #9c9e1b; color: #fff; }
.type-rock { background-color: #9e8a34; color: #fff; }
.type-ghost { background-color: #5c3c6a; color: #fff; }
.type-dark { background-color: #5e4c37; color: #fff; }
.type-dragon { background-color: #5a4b9a; color: #fff; }
.type-steel { background-color: #8a8a9b; color: #fff; }
.type-fairy { background-color: #be6d7b; color: #fff; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* Aquí todo el CSS extra */

body {
    min-height: 100vh;
    background-color: var(--clr-gray);
}

header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos verticalmente al centro */
    position: sticky;
    margin-bottom: 4%;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    flex-grow: 1; /* Permite que el nav crezca para ocupar el espacio disponible */
}

.nav img {
    width: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.btn-header:hover {
    opacity: 0.8;
}

#searchBar {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

#noResults {
    color: #f00; /* Color del texto para que sea visible */
    font-weight: bold;
    text-align: center; /* Centrar el mensaje */
}

#toggleMode {
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
    #noResults img {
        max-width: 60vh;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #noResults img {
        max-width: 100vh;
    }
}

.pokemon {
    position: relative;
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform:capitalize;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.pokemon-id-back {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: var(--clr-gra);
    z-index: 1; /* Asegura que el ID esté sobre el fondo de color pero debajo de la imagen */
    opacity: 0.1; /* Añadimos opacidad para que no opaque la imagen */
}

.pokemon-img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    position: relative; /* Asegura que la imagen esté por encima del fondo */
    z-index: 2; /* Asegura que la imagen esté sobre el ID */
}

.pokemon-img img {
    width: 100%;
    max-width: 6rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemon-tipos .tipo {
    color: white;
    padding: 8px 12px;
}

.pokemon-tipos .tipo .material-icons {
    color: white;
    font-size: 12px;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
    z-index: 2;
}

.pokemon-nombre {
    font-size: 1.4rem;
}

.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ocupa la mitad de la tarjeta */
    z-index: 1; /* Asegura que esté detrás de todo lo demás */
    border-radius: 1rem 1rem 0 0; /* Solo redondear las esquinas superiores */
}

.tipo{
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}